<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <form action="/articles/<%= @id %>" method="post">
    <title><%= @title %></title>
    </head>
 <body>
   
   <p><%= @content %></p>
   
 </body>
 </form>
</html>